.pagination .page-link:hover {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}
.table tbody td {
    text-align: left;
    vertical-align: middle;
}
.table tbody tr {
    min-height: 50px;
}
.table thead th {
    height: 50px;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
}
.table td.description {
    height: auto;
    white-space: normal;
}
.table td.actions {
    white-space: nowrap;
}
